.main {
    width: 100%;
    display: flex;
}

.filters {
    width: 25%;
    height: 800px;
    padding: 20px 30px;
}

.sorting-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

.sorting {
    width: 220px;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    padding: 0 10px;
    border: 2px solid #efefef;
    color: #333e48;
}

.search {
    position: relative;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #ffdd22;
}

.search__input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #ffdd22;
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url('../../assets/svg/icon-search.svg'), #ffdd22;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    border: none;
    cursor: pointer;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.items-found {
    font-size: 18px;
    font-weight: bold;
}

.layout {
    display: flex;
    gap: 10px;
}

.layout__button {
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 5px;
}

.button_squares {
    background: url('../../assets/svg/layout_squares.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

}

.button_lines {
    background: url('../../assets/svg/layout.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.filters__title {
    font-size: 28px;
    color: #878788;
    margin: 0 0 20px;
}

.filters__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.filters__button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #ffdd22;
    color: #333e48;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.categories__title,
.brands__title {
    font-size: 22px;
    color: #878788;
    padding-bottom: 10px;
    border-bottom: 2px solid #efefef;
    margin-bottom: 20px;
}

.stock__title,
.price__title {
    font-size: 22px;
    color: #878788;
    padding-bottom: 10px;
    border-bottom: 2px solid #efefef;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.categories__title::first-letter,
.brands__title::first-letter,
.stock__title::first-letter,
.price__title::first-letter {
    text-transform: uppercase;
}

.brands__list,
.categories__list {
    width: 100%;
    height: 150px;
    overflow: auto;
    margin-bottom: 20px;
    padding-right: 10px;
}

input[type='checkbox'] {
    margin-right: 10px;
    cursor: pointer;
}

.list-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 3px;
}

.list-item__label {
    padding-right: 5px;
    font-weight: bold;
}

.list-item__number {
    margin-left: auto;
}

.slider {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    outline: none;
    background-color: transparent;
    pointer-events: none;
    margin: auto;
}

.stock-slider__track,
.price-slider__track {
    width: 100%;
    height: 5px;
    background-color: #333e48;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffdd22;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffdd22;
    cursor: pointer;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffdd22;
    cursor: pointer;
    pointer-events: auto;
}

.stock-slider__values,
.price-slider__values {
    width: 45%;
    background-color: #ffdd22;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 4px; 
}
   
::-webkit-scrollbar-thumb {
    background: #ffdd22;
    border-radius: 4px;  
}

::-webkit-scrollbar-thumb:hover {
    background: #ffd700; 
}
