.main {
    width: 100%;
    display: flex;
}

.main__products {
    width: 70%;
}

.main__summary {
    width: 30%;
}

.products-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 2px solid #efefef;
    margin-bottom: 10px;
}

.products-panel__title {
    font-size: 22px;
}

.products-panel__counters {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
}

.pages {
    display: flex;
    gap: 10px;
}

.items__label {
    margin-right: 10px;
}

#items {
    width: 60px;
    border: 2px solid #ffdd22;
    border-radius: 15px;
    padding: 5px 10px;
}

#items:focus {
    outline: none;
}

.pages__button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.button_left {
    background: url('../../assets/svg/arrow-icon.png'), #ffdd22;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.button_right {
    background: url('../../assets/svg/arrow-icon.png'), #ffdd22;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.summary {
    width: 80%;
    margin: 0 auto;
    padding-top: 23px;
}

.summary__title {
    font-size: 22px;
    border-bottom: 2px solid #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.summary__total,
.summary__products {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;  
    margin-bottom: 20px;
}

.summary__promo {
    margin-bottom: 30px;
}

.summary__promo-input {
    width: 100%;
    padding: 20px;
    border: 2px solid #ffdd22;
    border-radius: 40px;
}

.summary__promo-input:focus {
    outline: none;
}

.summary__promo-text {
    font-size: 14px;
    text-align: center;
}

.summary__button {
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #ffdd22;
    color: #333e48;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
}

/* Module */

.module-layer {
    position: fixed;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.form {
    /* position: relative; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 30px 40px;
    border-radius: 25px;
    border: 2px solid #ffdd22;
    background-color: #fff;
}

.form__title,
.form__card-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form__name,
.form__phone,
.form__address,
.form__email {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    padding-left: 20px;
    outline: none;
    border: 2px solid #ffdd22;
    margin-bottom: 10px;
}

.form__card-info {
    width: 60%;
    height: 200px;
    border: 1px dotted #ff0000;
    margin: 0 auto 20px;
    padding: 20px 0;
}

.card-info__add {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#card-number {
    margin-bottom: 40px;
}

.form__button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #ffdd22;
    color: #333e48;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.no-added {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
}