.content {
    display: flex;
}

.cards_container {
    width: 100%;
}

.product_title {
    font-size: 16px;
}

.product_item {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.product_image {
    border-radius: 25px;
    width: auto;
    height: 100px;
}


.cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 12px;
    margin-top: 20px;
    position: relative;
}

.card-price-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-to-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}