.content {
    display: flex;
}

.cards_container {
    width: 100%;
}

.product_title {
    font-size: 18px;
    font-weight: bold;
}

.product_item {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 0 15px 10px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.product_image {
    border-radius: 8px;
    width: auto;
    height: 100px;
    margin-bottom: 20px;
    object-fit: cover;
}

.brand-name {
    font-size: 16px;
    margin-top: 0;
}

.description {
    font-size: 14px;
    margin-top: 0;
    overflow: auto;
}

.cards {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 12px;
    position: relative;
}

.card-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-in-stock {
    font-size: 14px;
}

.add-to-cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url('../../assets/svg/cart-icon-white.png'), #ffdd22;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}