.content {
    display: flex;
}

.cards_container {
    width: 100%;
}

.product_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product_item {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.hide {
    display: none;
}

.product_image {
    border-radius: 8px;
    width: auto;
    height: 100px;
    margin-bottom: 20px;
    object-fit: cover;
}

.brand-name,
.price,
.discount,
.category,
.rating {
    font-size: 15px;
    margin: 0 0 5px;
    font-weight: normal;
}

.description {
    font-size: 14px;
    margin-top: 0;
    overflow: auto;
}

.card-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-in-stock {
    font-size: 14px;
}

.add-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../../assets/svg/cart-icon-white.png'), #ffdd22;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.add-to-cart:hover {
    background:  url('../../assets/svg/cart-icon-white.png'), #e7c400;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.added-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../../assets/svg/cart-icon-white.png'),blue;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}