.product-data {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    width: 100%;
}

.product-title {
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    border-bottom: 2px solid #efefef;
}

.slides {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
    height: 80px;
    cursor: pointer;
    transition: 0.5s;
}

.slides:hover {
    transform: scale(1.3);
}

.product-gallery {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.galleryWrapper {
    width: 35%;
}

.big-image-wrapper {
    width: 65%;
    margin-right: 20px;
}

.big-image {
    max-height: 40vh;
    width: auto;
    max-width: 100%;
}


.add-to-cart-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin-left: 20px;
}


.price-cart {
    font-size: 40px;
    margin-bottom: 10px;
}
.add-to-cart-button,  .buy-now-button {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #ffdd22;
    color: #333e48;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.add-to-cart-button:hover,  
.buy-now-button:hover {
    background-color: #e7c400;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-top: 10px;
}