.header {
    width: 100%;
    border-bottom: 2px solid #efefef;
    padding: 40px 30px;

}

.header__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text {
    font-size: 40px;
}

.header__button-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}

.button_cart {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../../assets/svg/shopping-cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.header__products-number {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffdd22;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.header__total-text {
    font-size: 24px;
}

.header__total {
    display: flex;
    gap: 10px;
}

.logo__link {
    text-decoration: none;
    color: black;
}