.product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 10px 40px 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.product-item__image-wrapper {
    width: 25%;
    height: 160px;
    border-radius: 15px;
    overflow: hidden;
}

.product-item__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 15px;
    object-fit: contain;
}

.product-item__info {
    width: 55%;
}

.product-item__title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #efefef;
    text-align: center;
}

.product-item__main-info {
    display: flex;
    justify-content: space-between;
}

.product-item__brand,
.product-item__price {
    font-size: 16px;
    padding: 10px 0 0;
}

.product-item__description {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0 0 30px;
}

.product-item__extra {
    display: flex;
    width: 70%;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    margin: 0 auto;
}

.add-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../../assets/svg/cart-icon-white.png'), #ffdd22;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.add-to-cart:hover {
    background:  url('../../assets/svg/cart-icon-white.png'), #e7c400;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.added-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../../assets/svg/cart-icon-white.png'),blue;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
