.filters {
    width: 30%;
    height: 800px;
    padding: 20px 30px;
}

.filters__title {
    font-size: 28px;
    margin: 0 0 20px;
}

.filters__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.filters__button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: yellow;
    color: black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.categories__title,
.brands__title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}

.brands__list,
.categories__list {
    width: 100%;
    height: 150px;
    overflow: auto;
    margin-bottom: 20px;
}

input[type='checkbox'] {
    margin-right: 10px;
}

.list-item {
    display: flex;
    align-items: center;
}



