@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #333e48;
}
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}